/* MIX */
.bg_grey{
  background-color: grey;
}

.bg_acqua{
  background-color: #25BC9C;
}

.bg_blue{
  background-color: #2C3E50;
}

.bg_lblue{
  background-color: #3A546D;
}

.h_600{
  height: 600px;
}

.text_center{
  text-align: center;
}


/* HEADER */
.header-top{
  background-color: #2C3E50;
  height: 90px;
}

/* MAIN */

/* section 1 - portfolio */
.box{
  height: 200px;
  margin: 25px auto;
  background-color: #BA4B63;
}

/* FOOTER */
.footer_top{
  height: 400px;
}

.footer_bottom{
  height: 200px;
}
